body {
    font-family: "Roboto";
    background: #fcfcfc;
}

.btn-toolbar {
    margin-bottom: 10px;
}

button {
    background: #f6f6f6;
    border: solid 1px #ccc;
    border-radius: 3px;
    padding: 5px 10px;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

button.add {
    height: 25px;
    width: 30px;
    position: absolute;
    right: 10px;
}

.script_name_container {

}

.script_name {
    width: 100%;
}

.half_panel {
    width: 48%;
    display: inline-block;
}

.half_panel textarea {
    width: 100%;
    height: 100%;
    border: solid 1px #aaa;
    border-radius: 3px;
}

.custom_url_container {
    position: relative;
    margin-bottom: 10px;
}

.custom_url {
    position: relative;
}

.panel {
    margin-top: 20px;
}

.url_list_btns {
    float: right;
}

.url_list_btns span {
    margin-right: 10px;
}