<!DOCTYPE html>
<html lang="en" ng-app="mwApp">

<head>
    <meta charset="UTF-8">
    <title>Sidepan</title>
    <style>
    body {
        margin: 0 auto;
    }
    </style>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/lib/jquery.js"></script>
    <script src="/js/lib/jstorage.js"></script>
    <script src="/js/lib/angular.min.js"></script>
    <script src="/js/mw-sidepan.js"></script>
</head>

<body ng-controller="mwController">
    <div class="well" id="projects">
        <h2>Projects</h2>
    </div>
    <ul>
        <li ng-repeat="project in projects">
            <del ng-show="project.injected">{{project.name}}</del>
            <a ng-show="!project.injected" href="" ng-click="inject(project)">{{project.name}}</a>
        </li>
    </ul>
</body>

</html>
