<!DOCTYPE html>
<html lang="en" ng-app="mwApp">

<head>
    <meta charset="UTF-8">
    <title>Sidepan</title>
    <style>
    body {
        margin: 0 auto;
    }
    </style>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/lib/jquery.js"></script>
    <script src="/js/lib/jstorage.js"></script>
    <script src="/js/lib/angular.min.js"></script>
    <script src="/js/mw-sidepan.js"></script>
</head>

<body ng-controller="mwController">
    <div class="well" id="projects">
        <h2>Monkey Wrench</h2>
    </div>
    <div ng-show="projects.length">
        <ol>
            <li ng-repeat="project in projects">
                <del ng-show="project.injected">{{project.name}}</del>
                <a ng-show="!project.injected" href="" ng-click="inject(project)">{{project.name}}</a>
            </li>
        </ol>
        <hr>
        <div class="container text-info">
            <a href="" ng-click="injectAll()">Inject All</a>
        </div>
    </div>
    <div ng-show="!projects.length">
        Oops...no recipes for this page....:( <a href="">Create one</a>
    </div>
</body>

</html>
