<div>
    <div id="grid-gallery" class="grid-gallery">
        <section class="grid-wrap">
            <ul class="grid">
                <li class="grid-sizer"></li>
                <!-- for Masonry column width -->
                <li ng-repeat="recipe in recipes">

                    <figure>
                        <!-- ng-repeat="img in recipe._id.imgs" -->
                        <img ng-src="{{recipe._id.imgs[0]}}" />
                        <figcaption>
                            <h3>{{recipe._id.title}}</h3>
                            <p>By {{recipe._id.author.name}}</p>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </section>
        <!-- // grid-wrap -->
        <section class="slideshow">
            <ul>
                <li class="sli" ng-repeat="recipe in recipes">

                    <figure>
                        <figcaption>
                            <div class="container">
                                <h3>{{recipe._id.title}}</h3>
                                <div style="color:grey">
                                    <span class="pull-left">By {{recipe._id.author.name}}||</span>
                                    <span class="pull-left">
                                        <span class="icon-users icc"></span>
                                        {{recipe.userc}}||</span>
                                    <span class="pull-left">
                                        <span class=" icon-heart icc"></span>{{recipe.favc}}||</span>
                                    <span class="pull-left">
                                        <span ng-repeat="i in getStars(recipe.karmac)" class="icon-star2 icc"></span>
                                        <span ng-repeat="i in getRemStars(recipe.karmac)" class=" icon-star icc"></span>
                                    </span>
                                </div>
                            </div>
                        </figcaption>
                        <div id="tabs" class="tabs">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="#screen-shots" class="icon-images">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#description" class="icon-question">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#comments" class="icon-bubbles4">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#reviews" class="icon-edit">
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="content">
                                <section id="screen-shots">
                                    <!-- <img class="item" ng-src="{{img}}" ng-repeat="img in recipe._id.imgs" /> -->
                                    <slider srcs="{{recipe._id.imgs}}" />
                                </section>
                                <section id="description">
                                    <p>{{recipe._id.desc}}</p>
                                </section>
                                <section id="comments" style="padding: 20px 10px 20px 10px !important;">
                                    <div class="container comments-box" style="">
                                        <div class="row" ng-repeat="comment in recipe._id.comments">
                                            <div class="two columns">
                                                <div class="two columns">
                                                    <img ng-src="{{comment.user.img}}+&sz=100" alt="{{comment.user.name}}" />
                                                </div>
                                                <div class="four column avatar">
                                                    {{comment.user.name}}
                                                </div>
                                            </div>
                                            <div class="eight columns">
                                                <div class="tip left">
                                                    <div class="row comment-body">
                                                        {{comment.body}}
                                                    </div>
                                                    <div class="row date pull-right">
                                                        {{comment.date | date:'medium'}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section id="reviews">
                                    <div class="mediabox" ng-repeat="karma in recipe.karma">
                                        <img ng-src="{{karma.user.img}}" alt="{{karma.user.name}}" />karma = {{karma.karma}}
                                    </div>
                                    <div class="container comments-box" style="">
                                        <div class="row" ng-repeat="comment in recipe._id.comments">
                                            <div class="two columns">
                                                <div class="two columns">
                                                    <img ng-src="{{comment.user.img+'&sz=100'}}" alt="{{comment.user.name}}" />
                                                </div>
                                                <div class="four column avatar">
                                                    {{comment.user.name}}
                                                </div>
                                            </div>
                                            <div class="eight columns">
                                                <div class="tip left">
                                                    <div class="row comment-body">
                                                        {{comment.body}}
                                                    </div>
                                                    <div class="row date pull-right">
                                                        {{comment.date | date:'medium'}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                    </figure>
                </li>
            </ul>
            <nav>
                <span class="icon nav-prev"></span>
                <span class="icon nav-next"></span>
                <span class="icon nav-close"></span>
            </nav>
            <div class="info-keys icon">Navigate with arrow keys</div>
        </section>
        <!-- // slideshow -->

        </div>
        <!-- // grid-gallery -->
    </div>
