<div class="cbp-mc-form">
    <div id="form" class="tabs">
        <nav>
            <ul>
                <li>
                    <a href="#settings">
                        <span class="icon-cogs"></span>
                        Settings
                    </a>
                </li>
                <li>
                    <a href="#js">
                        <span class=" icon-console"></span>
                        JS
                    </a>
                </li>
                <li>
                    <a href="#css">
                        <span class="icon-cool"></span>
                        CSS
                    </a>
                </li>
            </ul>
        </nav>
        <div class="content">
            <section id="settings">
                <label for="name">Name</label>
                <input ng-model="curProject.name" type="text" id="name" name="name" placeholder="e.g. Google Beautify">

                <label for="URL">URL</label>
                <input ng-model="curProject.url" type="text" id="URL" name="URL" placeholder="e.g. https://www.google.co.in">


                <form action="" ng-submit="addjs()">
                    <label for="extjs">External JS URL</label>
                    <input type="text" id="extjs" ng-model="extjs" name="extjs" placeholder="e.g. http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.9/angular-route.js">
                    <a href="" class="pull-right" style="margin-top:-35px;margin-right:20px;color:#47a3df" ng-click="addjs()"><b>[+]</b></a>
                    <div ng-repeat="js in curProject.external.js track by $index ">
                        <strong>
                            <a href="" style="margin-right:20px;color:#47a3df" ng-click="removejs($index)">[x]</a>&nbsp;{{js}}
                        </strong>
                    </div>
                </form>
                <form action="" ng-submit="addcss()">
                    <label for="extcss">External CSS URL</label>
                    <input type="text" id="extcss" name="extcss" ng-model="extcss" placeholder="e.g. http://example.com/css/beautify.css">
                    <a href="" class="pull-right" style="margin-top:-35px;margin-right:20px;color:#47a3df" ng-click="addcss()"><b>[+]</b></a>
                    <div ng-repeat="css in curProject.external.css track by $index ">
                        <strong>
                            <a href="" style="margin-right:20px;color:#47a3df" ng-click="removecss($index)">[x]</a>&nbsp;{{css}}
                        </strong>
                    </div>
                </form>


                <div class="sixteen columns">
                    <br>
                    <div class="three columns pull-left">
                        Enabled
                        <a href="" ng-click="curProject.enabled = !curProject.enabled">
                            <span class="icc" ng-class="{'icon-on':curProject.enabled,'icon-off':!curProject.enabled}" style="font-size: larger;"></span>
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="three columns" style="margin-left:50px">
                        Auto Apply
                        <a href="" ng-click="curProject.autoApply = !curProject.autoApply">
                            <span class="icc" ng-class="{'icon-on':curProject.autoApply,'icon-off':!curProject.autoApply}" style="font-size: larger;"></span>
                        </a>
                    </div>
                </div>

            </section>
            <section id="js">
                <textarea ng-model="curProject.js" name="" id="" cols="30" rows="19"></textarea>
            </section>
            <section id="css">
                <textarea ng-model="curProject.css" name="" id="" cols="30" rows="19"></textarea>
            </section>
            <div class="cbp-mc-submit-wrap">
                <button ng-click="save()" class="cbp-mc-submit">
                    <span class="icon-disk">Update</span>
                </button>
                <button ng-click="home()" class="cbp-mc-submit">
                    <span class="icon-cancel">Cancel</span>
                </button>
                <div>
                    <br>
                    <a href="" title="Delete {{curProject.name}}" ng-click="delete(curProject)">
                        <h2 style=";color:red">
                            Delete {{curProject.name}}
                            <span class="icon-remove" style="margin-right:10px"></span>
                        </h2>
                    </a>
                </div>
                <!-- <input type="submit" value="Save" /> -->
            </div>
        </div>

        </form>
