<form class="cbp-mc-form">
    <style>
    .cbp-mc-form {
        font-family:'Lato', Calibri, Arial, sans-serif;
        /*color: #fff;*/
        /*background: #47a3da;*/
    }
    </style>



    <div id="home" class="tabs">
        <nav>
            <ul>
                <li>
                    <a href="#my">
                        <span class="icon-food"></span>
                        My Recipes
                    </a>
                </li>
                <li>
                    <a href="#installed">
                        <span class="icon-install"></span>
                        Installed Recipes
                    </a>
                </li>
            </ul>
        </nav>
        <div class="content">
            <section id="my">
                <br>
                <br>
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>URL</th>
                            <th>Enabled</th>
                            <th>Controls</th>
                            <!-- more columns are possible -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="project in allProjects|filter:{forked:false} track by $index">
                            <td>{{$index+1}}</td>
                            <td>{{project.name}}</td>
                            <td>{{project.url}}</td>
                            <td>
                                <a href="" ng-click="save(project)">
                                    <span class="icc" ng-class="{'icon-on':project.enabled,'icon-off':!project.enabled}" style="font-size: larger;"></span>
                                </a>
                            </td>
                            <td>
                                <a href="" ng-click="edit(project)" title="Edit {{project.name}}">
                                    <span class="icon-edit icc" style="margin-right:5px"></span>
                                </a>
                                <a href="" ng-click="share(project)" title="Share {{project.name}}">
                                    <span class="icon-share icc" style="margin-right:5px"></span>
                                </a>
                                <a href="" title="Download {{project.name}}">
                                    <span class="icon-download icc" style="margin-right:5px"></span>
                                </a>

                                <a href="" title="Delete {{project.name}}">
                                    <span class="icon-remove icc" style="margin-left:5px"></span>
                                </a>
                            </td>
                        </tr>
                        <!-- more rows are possible -->
                    </tbody>
                </table>
            </section>
            <section id="installed">
                <br>
                <br>
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>URL</th>
                            <th>Enabled</th>
                            <th>Fork</th>
                            <!-- more columns are possible -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="project in allProjects|filter:{forked:true}">
                            <td>{{$index+1}}</td>
                            <td>{{project.name}}</td>
                            <td>{{project.url}}</td>
                            <td>
                                <a href="" ng-click="save(project)">
                                    <span class="icc" ng-class="{'icon-on':project.enabled,'icon-off':!project.enabled}" style="font-size: larger;"></span>
                                </a>
                            </td>
                            <td>fork,rate,favourite
                            </td>
                        </tr>
                        <!-- more rows are possible -->
                    </tbody>
                </table>
            </section>
        </div>

</form>
