<form class="cbp-mc-form">
    <style>
    .cbp-mc-form {
        font-family:'Lato', Calibri, Arial, sans-serif;
        /*color: #fff;*/
        /*background: #47a3da;*/
    }
    </style>



    <div id="home" class="tabs">
        <nav>
            <ul>
                <li>
                    <a href="#my">
                        <span class="icon-food"></span>
                        My Recipes
                    </a>
                </li>
                <li>
                    <a href="#installed">
                        <span class="icon-install"></span>
                        Installed Recipes
                    </a>
                </li>
            </ul>
        </nav>
        <div class="content">
            <section id="my">

            </section>
            <section id="installed">
                <textarea name="" id="" cols="30" rows="19"></textarea>
            </section>
        </div>

</form>
