<form class="cbp-mc-form">
    <style>
    .cbp-mc-form {
        font-family:'Lato', Calibri, Arial, sans-serif;
        /*color: #fff;*/
        /*background: #47a3da;*/
    }
    </style>



    <div id="form" class="tabs" style=q>
        <nav>
            <ul>
                <li>
                    <a href="#settings" class="icon-shop">
                    Settings
                    </a>
                </li>
                <li>
                    <a href="#js" class="icon-cup">
                    JS
                    </a>
                </li>
                <li>
                    <a href="#css" class="icon-cup">
                    CSS
                    </a>
                </li>
            </ul>
        </nav>
        <div class="content">
            <section id="settings">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="e.g. Google Beautify">
                <label for="URL">URL</label>
                <input type="text" id="URL" name="URL" placeholder="e.g. https://www.google.co.in">
                <label for="URL">External JS URL</label>
                <input type="text" id="URL" name="URL" placeholder="e.g. http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.9/angular-route.js">
                <label for="URL">External CSS URL</label>
                <input type="text" id="URL" name="URL" placeholder="e.g. http://example.com/css/beautify.css">
            </section>
            <section id="js">
                <textarea name="" id="" cols="30" rows="19"></textarea>
            </section>
            <section id="css">
                <textarea name="" id="" cols="30" rows="19"></textarea>
            </section>
            <div class="cbp-mc-submit-wrap">
                <input class="cbp-mc-submit" type="submit" value="Save" />
            </div>
        </div>

</form>
