<div class="container" id="modal_help">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Monkey Wrench Help</h1>
                <hr>
            </div>
            <div class="modal-body">
                <h3>
                    Monkey Wrench allows you to customise your favourite websites - Add your own CSS and run your JS scripts
                </h3>

                <p>
                    <h4>
                        Here's how it works...
                    </h4>
                    <ol>
                        <li style="margin-top:2px">Click on the New in top navigation bar to start creating your new RECIPE.</li>
                        <li style="margin-top:2px">Provide the URL of the site on which you want your script to run</li>
                        <li style="margin-top:2px">If you have some external JS files or CSS files to be included, such as jQuery, or your own hosted files, you can provide them in External JS & CSS sections. Provide them in the order in which you want them to be loaded
                        </li>
                        <li style="margin-top:2px">
                            You can write your own JS and CSS code in the custom code section at the end. Once you are done, click on Save
                        </li>
                    </ol>
                </p>

                <p>
                    <h3>That's it !!
                        <span class="icon-cool icc"></span>
                    </h3>You are done! Now go to the site that you provided in step 2 and click on the Monkey Wrench icon and your script and CSS will take effect
                </p>

                <p>
                    <span class="label label-success" style="font-style:italic">Tip</span>: If you don't want to click on the button every time, just tick the checkbox that says
                    <strong>Run Automatically On Load</strong>
                </p>
                <!-- <div class="shortcuts-div">
                    <span>
                        <h4 title="This shortcuts will work on any page :)">
                            <span class="glyphicon glyphicon-flash"></span>Browser Shortcuts
                        </h4>
                        <span class="pull-right">
                            <button ng-click="onoffKBShortcut()" class="btn btn-success " ng-show="kb">On</button>
                            <button ng-click="onoffKBShortcut()" class="btn btn-danger " ng-hide="kb">Off</button>
                        </span>
                        <span>
                            <h3>
                                <span class="col-md-1 label label-danger">ctrl + I</span>
                            </h3>&nbsp;&nbsp;
                            <b>Inject</b> script in current tab.
                        </span>

                        <span>
                            <h3>
                                <span class="col-md-1 label label-danger">ctrl + M</span>
                            </h3>
                            &nbsp;&nbsp; Open <b>Monkey</b>'s option page.
                        </span>

                    </span>
                    <hr>
                   
                </div>
 -->
                <hr>
                <span>

                    <h3>
                        <span class="glyphicon glyphicon-flash"></span>Handy Keyboard Shortcuts
                    </h3>
                    <h4>
                        <span class="label label-primary">ctrl + s</span>
                        Save Project
                    </h4>
                    <h4>
                        <span class="label label-primary">ctrl + h</span>
                        Home
                    </h4>

                    <h4>
                        <span class="label label-primary">ctrl + p</span>
                        New Project
                    </h4>


                    <h4>
                        <span class="label label-primary">ctrl + b</span>
                        Recipe Baazar
                    </h4>
                </span>
            </div>
        </div>
    </div>
</div>
