<!DOCTYPE html>
<html data-ng-app="MyScriptsModule" data-ng-csp>

<head>
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'> -->
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="/js/angular.min.js"></script>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jstorage.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/coffee/GPAuth.js"></script>
    <script type="text/javascript" src="/js/coffee/baazarService.js"></script>
    <script type="text/javascript" src="/js/options.js"></script>
    <title>Monkey Wrench</title>
    <link href="/css/options.css" rel='stylesheet' type='text/css'>
    <link href='/css/angular-csp.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

</head>

<body ng-controller="MyScriptsController" ng-keydown="handleKeyBoardEvent($event)">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" ng-click="view_mode = 'search_mode'">
                    <span class="glyphicon glyphicon-wrench"></span>
                    &nbsp;Monkey Wrench
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#" ng-click="getRecipes()">
                            <span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;Recipe Bazaar
                        </a>
                    </li>
                    <li>
                        <a href="#" ng-click="show_help()">
                            <span class="glyphicon glyphicon-question-sign"></span>&nbsp;Help
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-show="!signedIn"><a href="#" ng-click="signIn()">Sign In</a>
                    </li>

                    <li class="dropdown" ng-show="signedIn">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hello&nbsp; 
                            <img class="img-polaroid img-circle" style="height:20px" ng-src="{{userDetails.img}}" alt="">&nbsp;{{userDetails.name}}<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a target="_blank" ng-href="{{userDetails.url}}">
                                    <span>{{userDetails._id}}</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#" ng-click="signOut()">Sign Out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container-fluid">
        <alert>
            <div class="alert_box" ng-show="alert.show">
                <div ng-class="alert.class">
                    <strong>{{alert.message}}</strong>
                </div>
            </div>
        </alert>

        <div ng-show="view_mode == 'search_mode'">
            <div class="btn-toolbar">


            </div>

            <div class="panel panel-default">
                <div class="panel-body text-center" ng-show="!all_project_names.length != 0">
                    <div class="">You have no scripts yet - Go ahead and <a href="#" ng-click="create_new()">Add one</a>...</div>

                    <p style="margin-top: 20px;">
                        ... or read our simple <a href="#" ng-click="show_help()">Help</a> document
                    </p>
                </div>

                <div class="panel-body" ng-show="all_project_names.length != 0">
                    <table class="table">
                        <caption>
                            <button type="button" class="btn btn-primary pull-left" ng-click="create_new()">
                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;&nbsp;&nbsp;New&nbsp;&nbsp;&nbsp;</button>
                            <h2 style="display:inline-block">
                                Your Recipes
                                <span class="glyphicon glyphicon-glass"></span>
                            </h2>
                            <fileimport onfileselect="onselect(content)"></fileimport>
                            <br>

                            <hr>
                        </caption>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Domain or URL</th>
                                <th>Active</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, project) in all_project_names">
                                <td>{{key + 1}}</td>
                                <td><a href="#" ng-click="get_project(project.id)">{{project.name}}</a>
                                </td>
                                <td>{{project.url}}</td>
                                <td>
                                    <span class="glyphicon glyphicon-ok" ng-show="project.enabled"></span>
                                </td>
                                <td>
                                    <a href="#" class="pull-right" ng-show="project.enabled" ng-click="toggle_status(project)">disable</a>
                                    <a href="#" class="pull-right" ng-hide="project.enabled" ng-click="toggle_status(project)">enable</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="edit_project" ng-show="view_mode == 'edit_mode'">
            <div class="body">
                <div class="btn-toolbar">
                    <button type="button" class="btn btn-primary " ng-click="create_new()">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;&nbsp;&nbsp;New&nbsp;&nbsp;&nbsp;</button>
                    <button type="button" class="btn btn-success" ng-click="save_project()">Save</button>
                    <button type="button" class="btn" ng-click="close_screen()">Close</button>

                    <div class="pull-right" ng-show="cur_project.id">
                        <div class="dropdown">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                More
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" style="right:0px !important; left: -94px !important;">
                                <li role="presentation" id="download"></li>
                                <li role="presentation">
                                    <a href="" ng-click="show_share_modal()">
                                        <span class="glyphicon glyphicon-globe"></span>Share Project</a>
                                </li>
                                <li role="presentation">
                                    <a href="" ng-click="delete_project()">
                                        <span class="glyphicon glyphicon-trash"></span>Delete Project</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel script_name_container">
                    <input type="text" class="form-control" placeholder="Name of the script" class="script_name" ng-model="cur_project.name">
                </div>

                <div class="panel">
                    <input type="text" class="form-control" placeholder="URL or Domain on which you want script to run. Example: http://www.example.com (can be regular expression too)" class="script_name" ng-model="cur_project.url">

                    <label style="margin: 10px;">
                        <input type="checkbox" ng-model="cur_project.autoApply">Run Automatically on Load</label>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="half_panel col-md-6">
                            <h4>External JS</h4>

                            <div class="custom_url_container input-group">
                                <input type="text" class="form-control custom_url" placeholder="URL of custom js" ng-model="custom_js">
                                <span class="add input-group-addon" ng-click="add_custom_js()">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </span>
                            </div>

                            <div class="list-group">
                                <a ng-repeat="(key, js) in cur_project.external.js" class="list-group-item" href="javascript: void(0);">{{js}}

                        <div class="url_list_btns">
                            <span class="glyphicon glyphicon-arrow-up" ng-hide="key == 0" ng-click="move_up(key, cur_project.external.js)"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-click="move_down(key, cur_project.external.js)" ng-hide="key == cur_project.external.js.length - 1"></span>
                            <span class="glyphicon glyphicon-remove remove_url" ng-click="remove_external_js(key)"></span>
                        </div>
                        </a>
                            </div>
                        </div>

                        <div class="half_panel col-md-6">
                            <h4>External CSS</h4>

                            <div class="custom_url_container input-group">
                                <input type="text" class="form-control custom_url" placeholder="URL of custom css" ng-model="custom_css">
                                <span class="add input-group-addon" ng-click="add_custom_css()">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </span>
                            </div>

                            <div class="list-group">
                                <a ng-repeat="(key, css) in cur_project.external.css" class="list-group-item" href="javascript: void(0);">{{css}}

                        <div class="url_list_btns">
                            <span class="glyphicon glyphicon-arrow-up" ng-hide="key == 0" ng-click="move_up(key, cur_project.external.css)"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-click="move_down(key, cur_project.external.css)" ng-hide="key == cur_project.external.css.length - 1"></span>
                            <span class="glyphicon glyphicon-remove remove_url" ng-click="remove_external_css(key)"></span>
                        </div>
                        </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="half_panel col-md-6">
                            <h4>Custom JS</h4>
                            <textarea ng-model="cur_project.js"></textarea>
                        </div>

                        <div class="half_panel col-md-6">
                            <h4>Custom CSS</h4>
                            <textarea ng-model="cur_project.css"></textarea>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div ng-show="view_mode == 'baazar'">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-hover">
                        <caption>
                            <h2>
                                <span class="glyphicon glyphicon-star"></span>Popular Recipes
                                <span class="glyphicon glyphicon-star"></span>
                            </h2>
                            <br>
                            <br>
                        </caption>
                        <thead>
                            <th>Link</th>
                            <th>Title</th>
                            <th>URL</th>
                            <th>Description</th>
                            <th>Author</th>
                            <th>Screenshots</th>
                            <th>Favourite this</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="recipe in recipes">
                                <td>
                                    <a href="#" ng-click="installRecipe(recipe.ingredients)">
                                        <span class="glyphicon glyphicon-magnet"></span>Install</a>
                                </td>
                                <td>{{recipe.title}}</td>
                                <td>{{recipe.ingredients.url}}</td>
                                <td>{{recipe.desc | limitTo:100}}
                                    <span ng-show="recipe.desc.length > 100">...</span>
                                </td>
                                <td>{{recipe.author}}</td>
                                <td>
                                    <span ng-repeat="img in recipe.imgs">
                                        <img style="width:70px;height:70px;" class="img-polaroid " ng-src="{{img}}" alt="">
                                    </span>
                                </td>
                                <td>
                                    <a href="#" ng-click="favourite(recipe._id)">
                                        <span class="glyphicon glyphicon-heart"></span>
                                        Favourite
                                    </a>
                                    <a href="#" ng-click="giveKarmaToRecipe(recipe._id)">
                                        <span class="glyphicon glyphicon-heart"></span>
                                        karma
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal" id="modal_help">
            <div class="modal-dialog" style="width:80%">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Monkey Wrench Help</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            Monkey Wrench allows you to customise your favourite websites - Add your own CSS and run your JS scripts
                        </p>

                        <p>
                            Here's how it works...
                            <ol>
                                <li>Click on the New button to start creating your script.</li>
                                <li>Provide the URL of the site on which you want your script to run</li>
                                <li>If you have some external JS files or CSS files to be included, such as jQuery, or your own hosted files, you can provide them in External JS & CSS sections. Provide them in the order in which you want them to be loaded
                                </li>
                                <li>
                                    You can write your own JS and CSS code in the custom code section at the end. Once you are done, click on Save
                                </li>
                            </ol>
                        </p>

                        <p>
                            That's it! You are done! Now go to the site that you provided in step 2 and click on the Monkey Wrench icon and your script and CSS will take effect
                        </p>

                        <p>
                            <span class="label label-success">Tip</span>
                            If you don't want to click on the button every time, just tick the checkbox that says
                            <strong>Run Automatically On Load</strong>
                        </p>
                        <div class="shortcuts-div">
                            <span>
                                <h4 title="This shortcuts will work on any page :)">
                                    <span class="glyphicon glyphicon-flash"></span>Browser Shortcuts
                                </h4>
                                <span class="pull-right">
                                    <!-- {{kb}} -->
                                    <button ng-click="onoffKBShortcut()" class="btn btn-success " ng-show="kb">On</button>
                                    <button ng-click="onoffKBShortcut()" class="btn btn-danger " ng-hide="kb">Off</button>
                                </span>
                                <span>
                                    <h3>
                                        <span class="col-md-1 label label-danger">ctrl + I</span>
                                    </h3>&nbsp;&nbsp;
                                    <b>Inject</b> script in current tab.
                                </span>

                                <span>
                                    <h3>
                                        <span class="col-md-1 label label-danger">ctrl + M</span>
                                    </h3>
                                    &nbsp;&nbsp; Open <b>Monkey</b>'s option page.
                                </span>

                            </span>
                            <hr>
                            <span title="These shortcuts will work only in options page.">
                                <h4>
                                    <span class="glyphicon glyphicon-flash"></span>Handy Keyboard Shortcuts
                                </h4>

                                <h4>
                                    <span class="label label-primary">ctrl + h</span>
                                    OR
                                    <span class="label label-primary">ctrl + q</span>
                                    Home
                                </h4>

                                <h4>
                                    <span class="label label-primary">ctrl + p</span>
                                    New Project
                                </h4>

                                <h4>
                                    <span class="label label-primary">ctrl + s</span>
                                    Save Project
                                </h4>
                                <h4>
                                    <span class="label label-primary">ctrl + ?</span>
                                    Help
                                </h4>
                            </span>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->


        <div class="modal" id="modal_share_recipe">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Recipe Descriptions</h4>
                    </div>
                    <!-- upload-before-submit="checkvalidity()" -->
                    <form role="form" name="shareform">
                        <div class="modal-body">
                            <div class="form-group">
                                <!-- <label for="exampleInputEmail1">Title</label> -->
                                <input type="text" name="title" class="form-control" id="title" placeholder="Title" ng-model="share.title" required>
                            </div>
                            <div class="form-group">
                                <!-- <label for="exampleInputPassword1">Description</label> -->
                                <textarea type="text" name="desc" class="form-control" id="desc" placeholder="Description" ng-model="share.desc" required style="height: 100px;"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="imgs">ScreenShots</label>
                                <input type="file" name="imgs" id="imgs" multiple>
                                <span>press ctrl + click to select multiple files
                                </span>
                            </div>

                        </div>
                        <div class="modal-footer" style="margin-top: -15px;">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success" ng-click="shareRecipe()" ng-disabled="shareform.$invalid">Share</button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>

</body>

</html>
