<!doctype html>
<html lang="en" data-ng-app="MonkeyWrench" data-ng-csp>

<head>
    <meta charset="UTF-8">
    <title>Monkey Wrench</title>
    <script type="text/javascript" src="/js/lib/angular.min.js"></script>
    <script type="text/javascript" src="/js/lib/angular-route.min.js"></script>
    <script type="text/javascript" src="/js/lib/jquery.js"></script>
    <script type="text/javascript" src="/js/lib/gridGallery/modernizr.custom.js"></script>
    <script type="text/javascript" src="/js/lib/jstorage.js"></script>


    <link href='/css/angular-csp.css' rel='stylesheet' type='text/css'>
    <link href='/css/skeleton.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/icons.css" />
    <link rel="stylesheet" type="text/css" href="/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="/css/component.css" />
    <link rel="stylesheet" type="text/css" href="/css/menu2.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/css/myicons.css" /> -->
    <!-- gridGAllery -->
</head>

<body ng-controller="BodyController">

    <div id="st-container" class="st-container">
        <!--    
                example menus 
                these menus will be on top of the push wrapper
            -->

        <nav class="st-menu st-effect-10" id="menu-10">
            <h2 class="icon icon-stack">
                <span class="icon-heart2"></span>Monkey Wrench</h2>
            <ul>
                <li>
                    <a class="icon icon-data" href="#!/">
                        <h2 style="display:inline;color:white">
                            <span class="icon-home"></span>
                        </h2>
                        Home</a>
                </li>
                <li>
                    <a class="icon icon-location" href="#!/New">
                        <h2 style="display:inline;color:white">
                            <span class="icon-new"></span>
                        </h2>New</a>
                </li>
                <li>
                    <a class="icon icon-study" href="#!/Baazar">
                        <h2 style="display:inline;color:white">
                            <span class="icon-food"></span>
                        </h2>Recipe Baazar</a>
                </li>
                <li>
                    <a class="icon icon-study" href="#!/Baazar">
                        <h2 style="display:inline;color:white">
                            <span class="icon-question"></span>
                        </h2>
                        Help</a>
                </li>
            </ul>
        </nav>


        <!-- content push wrapper -->
        <div class="st-pusher">
            <div class="st-content">
                <!-- this is the wrapper for the content -->
                <div class="st-content-inner">
                    <!-- extra div for emulating position:fixed of the menu -->
                    <!-- Top Navigation -->
                    <header class="codrops-header" style="position:absolute;top:0;left:0;right:0;height:60px;background:#47a3da;color:white">
                        <div>
                            <div id="st-trigger-effects" class="pull-left">
                                <div data-effect="st-effect-10">
                                    <span class="icon-menu" style="padding:4px 14px 4px 10px;font-size:3.5em;cursor:pointer"></span>
                                </div>
                            </div>
                            <div class="pull-left" style="margin-top: -11px;">
                                <h1>Monkey Wrench</h1>
                            </div>
                            <span class="pull-right">
                                <div ng-show="!signedIn">
                                    <a href="" ng-click="signIn()">
                                        <h3>
                                            <span class=" icon-user"></span>signIn
                                        </h3>
                                    </a>
                                </div>
                                <div ng-show="signedIn" class="pull-right">
                                    <ul class="drop-down cf" style="list-style:none">
                                        <li>
                                            <a class="dropdown" href="#">
                                                Hello <img style="position:relative;top:10px" ng-src="{{user.img}}+&sz=30" alt="{{user.name}}">
                                                {{user.name}}
                                            </a>
                                            <ul>
                                                <li><a target="_blank" ng-href="{{user.url}}">{{user._id}}</a>
                                                </li>
                                                <li><a href="#" ng-click="signOut()">Sign Out</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </span>
                            <alert class="position:absolute;top:0;left:0;right:0;height:70px;background:#47a3da;">
                                <span ng-class="alert.class" ng-show="alert.show">
                                    {{alert.msg}}===={{alert}}
                                </span>
                            </alert>
                        </div>

                    </header>
                    <div class="main clearfix ">
                        <div style="margin-top:80px">
                            <ng-view></ng-view>
                        </div>
                    </div>
                    <!-- /main -->
                </div>
                <!-- /st-content-inner -->
            </div>
            <!-- /st-content -->
        </div>
        <!-- /st-pusher -->
    </div>
    <!-- /st-container -->
    <!-- /container -->

    <!-- gridGAllery -->
    <script src="/js/lib/gridGallery/imagesloaded.pkgd.min.js"></script>
    <script src="/js/lib/gridGallery/masonry.pkgd.min.js"></script>
    <script src="/js/lib/gridGallery/classie.js"></script>
    <script src="/js/lib/gridGallery/cbpGridGallery.js"></script>
    <!-- // <script type="text/javascript" src="/js/lib/menu/borderMenu.js"></script> -->
    <script type="text/javascript" src="/js/lib/menu/sidebarEffects.js"></script>

    <!-- services -->
    <script type="text/javascript" src="/js/app/services/GPAuth.js"></script>
    <script type="text/javascript" src="/js/app/services/baazarService.js"></script>

    <!-- config -->
    <script type="text/javascript" src="/js/app/config.js"></script>

    <!-- directive -->
    <script type="text/javascript" src="/js/app/services/alert.js"></script>

    <!-- controllers -->
    <script type="text/javascript" src="/js/app/controllers/baazar.js"></script>
    <script type="text/javascript" src="/js/app/controllers/newProject.js"></script>
    <script type="text/javascript" src="/js/app/controllers/body.js"></script>


</body>

</html>
