<!doctype html>
<html lang="en" data-ng-app="MonkeyWrench" data-ng-csp>

<head>
    <meta charset="UTF-8">
    <title>Monkey Wrench</title>
    <script type="text/javascript" src="/js/lib/angular.min.js"></script>
    <script type="text/javascript" src="/js/lib/angular-route.min.js"></script>
    <script type="text/javascript" src="/js/lib/angular-animate.min.js"></script>
    <script type="text/javascript" src="/js/lib/jquery.js"></script>
    <script type="text/javascript" src="/js/lib/jstorage.js"></script>
    <script type="text/javascript" src="/js/lib/gridGallery/modernizr.custom.js"></script>
    <script type="text/javascript" src="/js/lib/jstorage.js"></script>
    <!-- grid -->
    <script src="/js/lib/gridGallery/imagesloaded.pkgd.min.js"></script>
    <script src="/js/lib/gridGallery/masonry.pkgd.min.js"></script>
    <script src="/js/lib/gridGallery/classie.js"></script>
    <script src="/js/lib/jquery.ba-throttle-debounce.min.js"></script>
    <script src="/js/lib/table/jquery.stickyheader.js"></script>

    <link href='/css/angular-csp.css' rel='stylesheet' type='text/css'>
    <link href='/css/skeleton.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/icons.css" />
    <link rel="stylesheet" type="text/css" href="/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="/css/component.css" />
    <link rel="stylesheet" type="text/css" href="/css/menu2.css" />
    <link rel="stylesheet" type="text/css" href="/css/slider.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/css/myicons.css" /> -->
    <!-- gridGAllery -->
</head>

<body ng-controller="BodyController">

    <div id="st-container" class="st-container">
        <!--    
                example menus 
                these menus will be on top of the push wrapper
            -->

        <nav class="st-menu st-effect-10" id="menu-10">
            <h2>Monkey Wrench</h2>
            <ul>
                <li>
                    <a class="icon icon-data" href="#!/">
                        <h2 style="display:inline;color:white">
                            <span class="icon-home"></span>
                        </h2>
                        Home</a>
                </li>
                <li>
                    <a class="icon icon-location" href="#!/New">
                        <h2 style="display:inline;color:white">
                            <span class="icon-new"></span>
                        </h2>New</a>
                </li>
                <li>
                    <a class="icon icon-study" href="#!/Baazar">
                        <h2 style="display:inline;color:white">
                            <span class="icon-food"></span>
                        </h2>Recipe Baazar</a>
                </li>
                <li>
                    <a class="icon icon-study" href="#!/Baazar">
                        <h2 style="display:inline;color:white">
                            <span class="icon-question"></span>
                        </h2>
                        Help</a>
                </li>
            </ul>
        </nav>


        <!-- content push wrapper -->
        <div class="st-pusher">
            <div class="st-content">
                <!-- this is the wrapper for the content -->
                <div class="st-content-inner">
                    <!-- extra div for emulating position:fixed of the menu -->
                    <!-- Top Navigation -->
                    <header class="codrops-header" style="position:absolute;top:0;left:0;right:0;height:55px;background:#47a3da;color:white">
                        <div>
                            <div id="st-trigger-effects" class="pull-left">
                                <div data-effect="st-effect-10">
                                    <span class="icon-menu" style="
                                    margin-right: 15px;padding: 41px 16px 18px 15px;font-size: 1.7em;cursor: pointer;position: relative;top: 15px;border-right: 1px solid;"></span>
                                </div>
                            </div>
                            <div class="pull-left" style="margin-top: -11px;">
                                <h1>
                                    Monkey Wrench
                                    <span class="icon-wrench"></span>
                                </h1>
                            </div>
                            <span class="pull-right">
                                <div ng-show="!signedIn" style="margin-right:30px">
                                    <a href="" ng-click="signIn()">
                                        <h3>
                                            <span class="icon-googleplus"></span>
                                            Log In
                                        </h3>
                                    </a>
                                </div>
                                <div ng-show="signedIn" class="pull-right">
                                    <ul class="drop-down cf" style="list-style:none">
                                        <li>
                                            <a class="dropdown" href="#">
                                                Hello <img style="position:relative;top:10px;height:30px" ng-src="{{user.img}}" alt="{{user.name}}">
                                                {{user.name}}
                                            </a>
                                            <ul>
                                                <li><a target="_blank" ng-href="{{user.url}}">{{user._id}}</a>
                                                </li>
                                                <li><a href="#" ng-click="signOut()">Log Out
                                                <span class=" icon-exit"></span></a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </span>
                            <alert>
                                <div ng-class="alert.class" ng-show="alert.show" style="position: fixed;top: -6px;z-index: 100000000;text-align: center;left: 0px;width: 100%;font-size: 1.5em;">
                                    <span ng-class="{'icon-happy':alert.type=='success','icon-sad':alert.type=='error','icon-shocked':alert.type=='warning'}"></span>{{alert.msg}}
                                </div>
                            </alert>
                        </div>

                    </header>
                    <div class="main clearfix ">
                        <div style="margin-top:80px">
                            <ng-view></ng-view>
                        </div>
                    </div>
                    <!-- /main -->
                </div>
                <!-- /st-content-inner -->
            </div>
            <!-- /st-content -->
        </div>
        <!-- /st-pusher -->
    </div>
    <!-- /st-container -->
    <!-- /container -->

    <!-- gridGAllery -->

    <script src="/js/lib/gridGallery/cbpTabs.js"></script>
    <script src="/js/lib/gridGallery/cbpGridGallery.js"></script>

    <!-- // <script type="text/javascript" src="/js/lib/menu/borderMenu.js"></script> -->
    <script type="text/javascript" src="/js/lib/menu/sidebarEffects.js"></script>
    <script type="text/javascript" src="/js/slider.js"></script>

    <!-- services -->

    <script type="text/javascript" src="/js/app/services/GPAuth.js"></script>
    <script type="text/javascript" src="/js/app/services/baazarService.js"></script>

    <!-- config -->
    <script type="text/javascript" src="/js/app/config.js"></script>
    <script type="text/javascript" src="/js/app/directive/fileUpload.js"></script>

    <!-- directive -->
    <script type="text/javascript" src="/js/app/services/alert.js"></script>
    <script type="text/javascript" src="/js/app/services/project.js"></script>

    <!-- controllers -->
    <script type="text/javascript" src="/js/app/controllers/baazar.js"></script>
    <script type="text/javascript" src="/js/app/controllers/newProject.js"></script>
    <script type="text/javascript" src="/js/app/controllers/edit.js"></script>
    <script type="text/javascript" src="/js/app/controllers/body.js"></script>
    <script type="text/javascript" src="/js/app/controllers/share.js"></script>


</body>

</html>
